<a href="https://colab.research.google.com/github/rachnarayan1201/ML_lab-programs/blob/master/sep3_lab_prgm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python program to count the occurrences of each word in a given sentence.

[ ]

In [1]:
def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

    
print( word_count('My name is  Rachana'))

{'My': 1, 'name': 1, 'is': 1, 'Rachana': 1}

In [2]:
a = [10,20,30,10,50,30]

dup_items = set()
uniq_items = []
for x in a:
    if x not in dup_items:
        uniq_items.append(x)
        dup_items.add(x)

print(dup_items)

{10, 20, 50, 30}

Write a Python program to count the number of elements in a list within a specified range

[ ]

In [3]:
def count_range_in_list(li, min, max):
	ctr = 0
	for x in li:
		if min <= x <= max:
			ctr += 1
	return ctr

list1 = [10,20,30,30,30,40,70,80,99]
print(count_range_in_list(list1, 40, 100))

list2 = ['a','b','c','d','e','f']
print(count_range_in_list(list2, 'a', 'e'))

4
5

Write a Python script to merge two Python dictionaries.

In [4]:
a1 = {'a': 200, 'b': 400}
a2 = {'x': 100, 'y': 200}
a = a1.copy()
a.update(a2)
print(a)

{'a': 200, 'b': 400, 'x': 100, 'y': 200}

Write a Python program to find the highest 3 values in a dictionary.

In [5]:
from heapq import nlargest
my_dict = {'a':250, 'b':444, 'c': 600,'d':400, 'e':5000, 'f': 20}  
three_largest = nlargest(3, my_dict, key=my_dict.get)
print(three_largest)

['e', 'c', 'b']

Write a Python program to convert a tuple to a string.

In [8]:
tup = ('r', 'a', 'c', 'h', 'u')
str =  ''.join(tup)
print(str)

rachu

Write a Python program to reverse a tuple.

In [10]:
x = ("rachu")
y = reversed(x)
print(tuple(y))

('u', 'h', 'c', 'a', 'r')

Write a Python program to remove existing indentation from all of the lines in a given text.

In [11]:
import textwrap
sample_text = '''
    There is a cute baby in the house, she is very cute and beautiful, everyone
    in the family loves her very much, She loves everyone but she is a paapa's 
    daughter ,her expressions for photos will always be awesome and everyone 
    loves it .
    '''
text_without_Indentation = textwrap.dedent(sample_text)
print()
print(text_without_Indentation )
print()

There is a cute baby in the house, she is very cute and beautiful, everyone
in the family loves her very much, She loves everyone but she is a paapa's
daughter ,her expressions for photos will always be awesome and everyone
loves it .